<div class="container">
  <input class="input-todo" type="text" [(ngModel)]="todo" />
  <button class="btn-todo" (click)="addTodo()">Añadir tarea</button>

  <div class="container-todo">
    <h3 class="todo-title" *ngIf="tarea.length > 0; else noTareas">Mis
      tareas</h3>
    <ng-template #noTareas>
      <h3 class="todo-title">No hay tareas</h3>
    </ng-template>
    <div *ngFor="let tareas of tarea; let i = index"> 
      <p class="todo contenido-todo">{{tareas}}</p>
      <button class="contenido-todo" (click)="delTodo(i)">eliminar</button>
    </div>
  </div>
</div>
